@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #050505;
  color: #cbd5e1;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
}
